
.container-fluid {
  left: 50%;
  margin-top: 50px;
  width: 100%;
}

.media {
  background-position: center;
  background-size: cover;
  height: 100%;
  position: absolute;
  transition: all 0.3s ease;
  width: 100%;
}

figure {
  height: 370px;
  overflow: hidden;
  position: relative;
}

figure a {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

figure:hover .media {
  transform: scale(1.25);
}

figcaption {
  height: calc(100% - 30px);
  margin: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 250px;
}

.body {
  bottom: 0;
  padding: 15px;
}

svg {
  height: inherit;
  width: 100%;
}

svg text {
  text-anchor: middle;
}

svg #alpha {
  fill: rgb(255, 255, 255);
}

svg .title {
  font-size: 28px;
  font-family: "Montserrat";
  letter-spacing: 5px;
 
}

svg #base {
  fill: rgb(255, 255, 255);
  -webkit-mask: url(#mask);
  mask: url(#mask);
}

svg #bravo {
  fill: rgb(255, 255, 255);
}

svg #base-2 {
  fill:rgb(255, 255, 255);
  -webkit-mask: url(#mask-2);
  mask: url(#mask-2);

}